<div *ngIf="isNewContent" class="new">
    <form [formGroup]="contentForm">
        <ejs-richtexteditor placeholder="Escribe tu resumen"  [toolbarSettings]='config' formControlName="summary">
        </ejs-richtexteditor>
    </form>

    <div class="save">
        <button mat-button matTooltip="Guardar" (click)="saveContent()"> Guardar </button>
      </div>
</div>

<div *ngIf="!isNewContent" style="display: block !important; position: relative;">

    <div class="edit">
        <button mat-button matTooltip="Editar" (click)="editSummary()"> Editar </button>
    </div>

    <div class="summary">
        <p [innerHTML]="content.summary | safeHtml"></p>
    </div>

</div>