.save {
    color: #01a1c1;
    z-index: 2px;
    float: right;
    margin-right: 5%;
    margin-top: 2% ;
  }
  
  .save button {
    width: 100%;
    height: 100%;
    background-color: #01a1c1;
    color: white !important;
  }

  .edit {
    color: #01a1c1;
    float: right !important;
    margin-left: 90%;
    position: absolute;
  }
  
  .edit button {
    width: 100%;
    height: 100%;
    background-color: #01a1c1;
    color: white !important;
  }

  .summary {
    max-width: 100%;
    max-height: 100%;
  }