<mat-toolbar class="header">
</mat-toolbar>

  <div class="welcome">
    <h1>Bienvenido a tu cuaderno digital</h1>
    <button mat-button (click)="login()" mat-tooltip="Iniciar sesión">
        <img src="../../assets/icons8-logo-de-google.svg" alt="">
        Inicia sesión con google
    </button>
  </div>