.header {
    width: 100%;
    height: 10%;
    background-color: #01A1C1;
}

.welcome {
    text-align: center;
    margin-top: 5%;
    color: #01A1C1;
}

.welcome button {
    margin-top: 10%;
    padding: 10px 10px 10px 10px;
}

.welcome button:hover {
    border-bottom: solid #01A1C1;
}