.header {
    width: 100%;
    height: 20%;
}

.color {
    width: 100%;
    height: 40%;
    background-color: #01A1C1;
    display: flex;
}

.logout {
    float: right !important;
    margin-left: 60%;
    margin-top: 1%;
    color: white;
    font-weight: bolder;
}

.menu {
    width: 100%;
    height: 60%;
}

.items {
    float: left  !important;
    margin-right: 10%;
}

.subject-change {
    float: right;
    margin-right: 3%;
}

.menu-item {
    color: #01A1C1;
    font-weight: bolder;
}

.menu-item:hover {
    border-bottom: solid #01A1C1;
}

.name {
    font-weight: bolder;
    color: white;
    font-size: 20px;
    margin-left: 3%;
    padding-top: 2%;
}

.photo {
    margin-left: 3% !important;
}

.photo img{
    border-radius: 50%;
    height: 100%;
}