
<div class="header">
        <div class="color">
            <div class="photo"><img src="{{image}}" alt=""> </div>
            <div class="name"> {{ name }} - {{ selectedSubject.name }}</div>
            <div class="logout">
                <button mat-button matTooltip="Salir" (click)="logout()"><mat-icon>logout</mat-icon></button>
            </div>
        </div>
    <div class="menu">
        <div class="subject-change">
            <mat-form-field>
                <mat-label>Cambia de materia</mat-label>
                <mat-select>
                  <mat-option *ngFor="let subject of subjects" (click)="changeSubject(subject)"   [value]="selectedSubject">{{subject.name}}</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
    </div>
</div>
<router-outlet></router-outlet>