<div class="pop">
    <div class="header">
        <div class="title">
            {{ dialogData.title.toUpperCase() }}
        </div>
    </div>
    
    <div *ngIf="dialogData.method === 'add' " class="add">
        <form [formGroup]="subjectForm">
            <mat-form-field class="example-form-field">
                <mat-label>Nombre de la materia</mat-label>
                <input  matInput type="text" id="name" formControlName="name" >
              </mat-form-field>
        </form>
        <div class="actions">
            <button mat-button class="cancel" (click)="closeDialog()"> Cancelar </button>
            <button mat-button class="save" (click)="createSubject()"> Guardar </button>
        </div>
    </div>
</div>