

.pop {
    width: 100%;
    height: 100%;
}

.header {
    width: 100%;
    height: 5em !important;
    background-color: #01a1c1;
    color: white;
    text-align: center;
}

.title {
    margin-top: 2%;
    font-size: xx-large;
    position: absolute;
    margin-left: 23%;
    font-weight: bolder;
}


.add {
    margin-top: 3%;
    text-align: center;
}

::ng-deep .mat-form-field .mat-input-element {
        color: #01a1c1;
}

.actions {
    margin-top: 5%;
    display: inline-flex;
    margin-bottom: 3%;
    width: 100%;
}
.cancel {
    margin-left: 40%;
    background-color: #7f0000;
    color: white;
    border-radius: 5px;
    margin-right: 5%;
}

.save {
    background-color: #01a1c1;
    color: white;
    border-radius: 5px;
}