<div class="create">
  <button mat-button matTooltip="Agregar tema" (click)="createNewTopic()"> Agregar tema </button>
</div>

<div class="cards-items">
    <mat-card class="example-card" *ngFor="let topic of topics" (click)="goToTopic(topic.id)">
        <mat-card-header>
          <mat-card-title>{{topic.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button (click)="goToTopic(topic.id)"><mat-icon>arrow_forward</mat-icon></button>
        </mat-card-actions>
    </mat-card>
</div>
