.example-card {
    width: 50%;
    height: max-content;
    margin-top: 3%;
    align-content: center;
  }

  .example-card:hover {
    border-bottom: solid #01A1C1;
  }
  

  .cards-items {
        display: block;
        align-content: center;
        margin-left: 25em;
  }

  .example-card button {
    float: right;
    transform:translateY(-3em) !important;
    color: #01A1C1;
    font-size: 20px;
    font-weight: bolder;
  }

  .create {
    color: #01a1c1;
    z-index: 2px;
    float: left;
    margin-left: 5%;
    margin-top: 3% ;
  }
  
  .create button {
    width: 100%;
    height: 100%;
    background-color: #01a1c1;
    color: white !important;
  }