<div class="header">
    <div class="title">
      <h1>¡Bienvenido {{name}}! </h1>
      <h2> Cuentame, ¿Con que materia empezamos?</h2>
  </div>
</div>


    <div class="create">
      <button mat-button matTooltip="Agregar materia" (click)="createNewSubject()"> Agregar materia </button>
    </div>

    <div class="cards-items">
        <mat-card class="example-card" *ngFor="let subject of subjects" (click)="goToTopics(subject)">
            <mat-card-header>
              <mat-card-title>{{subject.name}}</mat-card-title>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button (click)="goToTopics(subject)"><mat-icon>arrow_forward</mat-icon></button>
            </mat-card-actions>
        </mat-card>
    
</div>
