.title {
  text-align: center;
  color: white;
  position: absolute;
  margin-left: 35%;
}

.title h1 {
  margin-top: 3%;
}

.example-card {
  width: 50%;
  height: max-content;
  margin-top: 3%;
  align-content: center;
}

.example-card:hover {
  border-bottom: solid #01a1c1;
}

.cards-items {
  display: block;
  align-content: center;
  margin-left: 30em;
}

.example-card button {
  float: right;
  transform: translateY(-3em) !important;
  color: #01a1c1;
  font-size: 20px;
  font-weight: bolder;
}

.header {
  width: 100%;
  height: 20%;
  background-color: #01a1c1;
}

.create {
  color: #01a1c1;
  z-index: 2px;
  float: left;
  margin-left: 5%;
  margin-top: 3% ;
}

.create button {
  width: 100%;
  height: 100%;
  background-color: #01a1c1;
  color: white !important;
}